<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="GameConfig" type="KeyGameModel.GameConfiguration, KeyGameModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <GameConfig MaxSequenceLength="6" BasePointsPerLetter="50" ExpectedMsPerLetter="500"
      MaxSpeedBonusPerLetter="200" AdditionalLetterBonus="0.1" ChainingBonus="0.05"
      ChainingBonusCap="0.5" />
</configuration>